<li class="style-image-wrapper" data-user="">
	<div class="image-wrapper">
		<div class="main-image"><img class="style-img-thumb" src="http://cdn.reviews.rtrcdn.com/201135.jpg"></div>
	</div>
	<div class="style-metadata">
		<h1>Size Worn: 2</h1>
		<h1>Designer: Helmut Lang</h1>
	</div>
</li>