<li class="style-image-wrapper" data-user="<%= style.user %>">
	<div class="image-wrapper">
		<div class="main-image"><img class="style-img-thumb" src="<%= style.url %>"></div>
	</div>
	<div class="style-metadata">
		<h1>Size Worn: <%= style.sizeWorn %></h1>
		<h1>Designer: <%= style.desginer %></h1>
	</div>
</li>